<h1>Artists</h1>
<p>find the artist that fits your style</p>

<div class="Search-Bar">
  <input class="form-control" type="text" placeholder="Search for an artist by name..." aria-label="Search">
</div>

<ul>
<% @pop_artists.each do |a| %>
 <li><%= a.artist_name %></li>
 <li><%= a.type_of_user %></li>
<% end %>

<% @jazz_artists.each do |a| %>
  <li><%= a.artist_name %></li>
  <li><%= a.type_of_user %></li>
<% end %>

<% @rock_artists.each do |a| %>
  <li><%= a.artist_name %></li>
  <li><%= a.type_of_user %></li>
<% end %>
</ul>





