<div class="container">
<!-- Header -->
  <div class="contenant general all-left aligned-centered pb-2">
    <i class="fas fa-angle-left fa-lg pr-2"></i>
    <h5 class="m-0"><%= link_to "back", :back, style: "align-items: center"%></h5>
  </div>
  <div class="d-flex justify-content-between align-items-start" style="width: 100%">
    <!-- welcome user -->
    <div class="flex-grow-1">
      <div class="contenant all-left general bottom-border-general aligned-started">
        <h1>so, <strong><%= current_user.first_name.capitalize %></strong></h1>
      </div>
      <div class="contenant all-left general pt-1">
        <h4 class="section-substitle" style="padding-top: 2px">ready to mix
          <% if current_user.type_of_user == 'artist' %>
            a show ?
          <% else %>
            this artist ?
          <% end %>
        </h4>
      </div>
    </div>
    <!-- avatar -->
    <div class="contenant all-left aligned-started">
      <img src="<%= current_user.avatar %>" alt="" class='dashboard-avatar'>
    </div>
  </div>
<!-- Title -->
  <div class="contenant general all-left centered bottom-border-general my-3 pb-1">
    <h2 class="section-title">let's make a nice mix</h2>
  </div>

  <div class="contenant-notflex all-left aligned-started" style="width: 100%">
    <%= simple_form_for [@user, @booking] do |f| %>
    <%= f.input :booking_date, required: true, as: :date, html5: true, label: "Choose a date for your mix" %>
    <%= f.input :booking_time, required: true, as: :select, collection: @hours_range, html5: true, label: "Choose a time for your mix" %>
    <%= f.input :message, required: true, placeholder: "Write an argumented message to make the perfect mix...", label: "Message", input_html: { rows: 5 } %>
    <%= f.submit "SEND THE MIX REQUEST", class: "button-submit form" %>
    <% end %>
  </div>
</div>
