

<!-- eventer infos -->
<div class="mt-3">
  <div class="eventer-cover-img" style="background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https:www.onholdinc.com/mohblog/wp-content/uploads/2018/03/restaurant.jpg)">
    <div>
      <div class="eventer-cover-row">
        <h1><%= @user.eventer_name %></h1>
        <h5><%= @user.venue_address%></h5>
      </div>
      <div class="eventer-cover-row">
        <p><strong><%= @user.venue_type%></strong></p>
        <p><%= @user.crowd_type%></p>
      </div>
      <div class="eventer-cover-row">
        <p><%= @user.description%></p>
      </div>
      <div class="eventer-cover-footer">
        <div class="d-flex justify-content-between align-items-center pt-2">
          <div class="contenant eventer centered aligned-centered" style="text-align: center; width: 140px; text-decoration: none;" >
            <%= link_to "", favorites_path(other_user_id: @user.id), method: :post, class: "fas fa-heart fa-lg" %>
            <a href="#" class="fas fa-share-alt fa-lg" style="color: #83B594"></a>
          </div>
          <div class="contenant can-grow eventer all-right">
            <a class="button-submit review" href="#reviews">VIEW REVIEWS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <!-- buttons BOOK THIS VENUE SEND A MESSAGE -->
  <div class="d-flex mt-2 mb-2 justify-content-between">
    <%= link_to new_user_booking_path(params[:id]), { class: "button-plain eventer", style: "flex: 0 0 49%" } do %>
      <div>MIX THIS VENUE</div>
    <% end %>
    <%= link_to "#", { class: "button-empty-bordered eventer", style: "flex: 0 0 49%" } do %>
      <div class="pl-1">SEND A MESSAGE</div>
    <% end %>
  </div>

  <!-- map -->
  <div class="contenant all-left aligned-centered py-2">
    <h3 class="section-paragraph eventer" style="font-weight: 700;">find us</h3>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <!-- calendar -->
  <div class="contenant all-left aligned-centered mt-3 py-2">
    <h3 class="section-paragraph eventer" style="font-weight: 700;">upcoming performances</h3>
  </div>

  <%= month_calendar do |date| %>
    <%= date.day %>
    <div class="d-flex justify-content-center">
      <% @bookings.where(booking_date: date, status: "Confirmed").first(3).each do |booking| %>
        <div style="
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background-color: #0E0000;
          margin: 6px 1px;
        ">
        </div>
        <!-- Vi - kept in case we want to use the logic
          <div>
            <%= booking.sender.artist_name %>
            <%= booking.sender.eventer_name %>
          </div>
         -->
      <%end %>
    </div>
  <% end %>

  <!-- list of upcoming bookings -->
  <!-- for dates >= today -->
  <div class="card-scroll-container cal-book">

    <% @bookings.where("status = ? AND booking_date >= ?", "Confirmed", DateTime.now).reverse_each do |booking| %>
      <div class="card-a-row calendar">
        <h5 class="date"><%= booking.booking_date %></h5>
        <h5 class="name"><%= booking.sender.artist_name %></h5>
        <div class="booking-icons">
          <!-- message icon -->
          <button type="button" class="button-invisible booking-icons-item far fa-clock fa-lg" style="color: #83B594" data-toggle="modal" data-target="#bookingModal-<%= booking.id %>">
        </div>
      </div>
    <% end %>
  </div>


  <!-- reviews -->
  <div class="contenant all-left aligned-centered mt-3 py-2">
    <h3 class="section-paragraph eventer" style="font-weight: 700;" id="reviews">reviews</h3>
  </div>
      <div class="card-scroll-container reviews">
        <div class="card-review-row">
          <div class="card-review-row-from">
            <h5><strong>Vi</strong> wrote on 26/11/2019</h5>
          </div>
          <div>
            <p>This venue is fabulous. I love it! Every time I visit this place, I hear very good music! I really recommend passing by if you’re in the neighborhood.</p>
          </div>
        </div>

        <div class="card-review-row">
          <div class="card-review-row-from">
            <h5><strong>Vi</strong> wrote on 26/11/2019</h5>
          </div>
          <div>
            <p>This venue is fabulous. I love it! Every time I visit this place, I hear very good music! I really recommend passing by if you’re in the neighborhood.</p>
          </div>
        </div>

        <div class="card-review-row">
          <div class="card-review-row-from">
            <h5><strong>Vi</strong> wrote on 26/11/2019</h5>
          </div>
          <div>
            <p>This venue is fabulous. I love it! Every time I visit this place, I hear very good music! I really recommend passing by if you’re in the neighborhood.</p>
          </div>
        </div>

        <div class="card-review-row">
          <div class="card-review-row-from">
            <h5><strong>Vi</strong> wrote on 26/11/2019</h5>
          </div>
          <div>
            <p>This venue is fabulous. I love it! Every time I visit this place, I hear very good music! I really recommend passing by if you’re in the neighborhood.</p>
          </div>
        </div>

        <div class="card-review-row">
          <div class="card-review-row-from">
            <h5><strong>Vi</strong> wrote on 26/11/2019</h5>
          </div>
          <div>
            <p>This venue is fabulous. I love it! Every time I visit this place, I hear very good music! I really recommend passing by if you’re in the neighborhood.</p>
          </div>
        </div>
      </div>


  <!-- button add review -->
  <div class="contenant can-grow eventer all-right my-3 pr-2">
    <%= link_to "+ Add a Review", "#", class: "button-submit review" %>
  </div>
</div>

