<h1><strong>eventers</strong></h1>

<!-- map -->

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<!-- eventer cards -->

<h3>listed eventers</h3>
<div>
<% @eventers.each do |e| %>
 <h4><%=link_to e.eventer_name, user_path(e)%></h4>
 <p><%= e.venue_address %></p>
 <p><%= e.venue_type %></p>
<% end %>
</div>

<!-- filters -->
<!-- <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <a href="#about">About</a>
    <a href="#base">Base</a>
    <a href="#blog">Blog</a>
    <a href="#contact">Contact</a>
    <a href="#custom">Custom</a>
    <a href="#support">Support</a>
    <a href="#tools">Tools</a>
  </div>
</div> -->

<%= form_tag(users_path, method: :get) do %>
  <%= select_tag "Type_of_venue", options_for_select(User::TYPEOFVENUE, params[:Type_of_venue]), include_blank: true, prompt: "Venue" %>
  <%= select_tag "Type_of_crowd", options_for_select(User::TYPEOFCROWD, params[:Type_of_crowd]), include_blank: true,  prompt: "Crowd" %>
  <%= submit_tag "", id: "search-submit", style: "display: none;" %>
<% end %>





