<h1><strong>eventers</strong></h1>

<!-- map -->

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<!-- 
<div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
});
</script>
 -->

<!-- eventer cards -->

<h3>listed eventers</h3>
<div>
<% @eventers.each do |e| %>
 <h4><%=link_to e.eventer_name, user_path(e)%></h4>
 <p><%= e.venue_address %></p>
 <p><%= e.venue_type %></p>
<% end %>
</div>

<!-- filters -->
<div>
  
</div>



