<% if user_signed_in? %>
  <div class="navbar-mmb">
    <div class="mmb-container">
      <div class="collapse" id="navbarToggleExternalContent">
         <div class="p-4">
            <ul class="navbar-toggler-elements">
              <% if current_user.type_of_user == "artist"  %>
                <li><%= link_to 'List all Eventers', users_path %></li>
              <% else current_user.type_of_user == "eventer" %>
                <li><%= link_to 'List all Artists', users_path %></li>
              <% end %>
              <li><%= link_to 'Home Page', root_path %></li>
              <li><strong><%= link_to 'Log out', destroy_user_session_path, method: :delete %></strong></li>
            </ul>
          </div>
      </div>

      <div class="mmb-row">

        <div class='mmb-column pl-2'>
          <div>
            <nav class="navbar">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-th fa-lg"></i>
              </button>
            </nav>
          </div>
          <div><%= image_tag 'mixmyband-logo.png' %></div>
        </div>

        <div class="mmb-column">
          <div>
            <%= link_to "", favorites_path, class: "far fa-heart fa-2x", style: "color: white" %>
          </div>
          <div>
            <%= link_to "", dashboard_path, class: "fas fa-user-circle fa-2x px-3", style: "color: white" %>
          </div>
        </div>

      </div>
    </div>
  </div>
<% else %>
  <div class="navbar-mmb">
    <div class="mmb-container">
      <div class="mmb-row">

        <div class='mmb-column pl-2'>
          <div><%= image_tag 'mixmyband-logo.png' %></div>
        </div>

        <div class="mmb-column">
          <i class="fas fa-angle-left fa-lg pr-2" style="color: white"></i>
          <h5><%= link_to "back", :back %></h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
