<div class="container">
<!-- Title and Subtitle -->
  <div class="contenant can-grow all-left artist bottom-border-artist">
    <%= image_tag "artist.svg", style: "height: 32px; padding-bottom: 2px" %>
    <h1 class="section-title" style="font-weight: 400">find artists </h1><h1 class="section-title">> <%= params[:music_type] %></h1>
  </div>
  <div class="contenant all-left artist">
    <h4 class="section-substitle">displaying all the artists in this category</h4>
  </div>
  <div class="py-4"></div>
  <div class="md-form form-sm form pl-0">
<!-- End of Title and Subtitle -->

<!-- Filter bars -->
  <div class="spaced-in-between aligned-centered artist">
    <%= form_tag(users_path, method: :get) do %>
      <div class="can-grow">
        <div class="dropdown" style="width: 100%">
          <div class="filter">
            <p class="mb-1">filter by type of artist</p>
            <%= select_tag "Artist_type", options_for_select(User::ARTISTTYPE, params[:music_type]), class: "input-field-light", prompt: "Solo Artist" %>
          </div>
          <div class="filter pr-3">
            <p class="mb-1">filter by price</p>
            <%= select_tag "Price", options_for_select(User::PRICE, params[:price]), class: "input-field-light", prompt: "50$/hour" %>
          </div>
        </div>
        <%= submit_tag "submit", id: "search-submit", style: "display: none;" %>
      </div>
    <% end %>
  </div>
<% @artists.each do |artist| %>
    <div class="card-display" style="background-image: "<%= image_url(artist.images.first.image_src) %>"; height:265px;">
      <div>
      <h3 class="card-display-intermediate"><%= artist.artist_name %></h3>
      <div class="card-display-footer general">
        <h5>Band | <%= artist.price %>$</h5>
        <p><%= artist.description %></p>
      </div>
      </div>
    </div>
  <% end %>

</div>


