<h1>Artists > <%= params[:music_type].capitalize %></h1>
<p>Displaying all the artists in this category</p>

<body>
  <div style="display:flex;">
    <div class="form-group col-md-4">
      <label for="inputartist">Filter by type of artist</label>
        <select id="inputartist" class="form-control">
          <option>test 1</option>
          <option>test 2</option>
        </select>
    </div>

    <div class="form-group col-md-4">
      <label for="inputartist">Filter by price</label>
        <select id="inputartist" class="form-control">
          <option>test 1</option>
          <option>test 2</option>
        </select>
    </div>
  </div>

  <% @category_artists = @artists.filter { |artist| artist.music_type == params[:music_type] }%>
  <% @category_artists.each do |a| %>
    <p><%= link_to a.artist_name, user_path(a) %></p>
    <p><%= a.artist_type %></p>
    <p><%= a.price %></p>
    <p><%= a.description %></p>
  <% end %>
</body>
