<div class="container">


  <div class="contenant general all-left aligned-centered pb-2">
    <i class="fas fa-angle-left fa-lg pr-2"></i>
    <h5 class="m-0"><%= link_to "back", :back, style: "align-items: center"%></h5>
  </div>
  <div class="d-flex justify-content-between align-items-start" style="width: 100%">
    <!-- welcome user -->
    <div class="contenant general all-left bottom-border-general can-grow aligned-started">
      <h1>hi, <strong><%= current_user.first_name.capitalize %></strong></h1>
    </div>
    <!-- avatar -->
    <div class="contenant all-left aligned-started">
      <img src="<%= current_user.avatar %>" alt="" class='dashboard-avatar'>
    </div>
  </div>

  <!-- edit your profile button -->
  <div class="d-flex justify-content-center align-items-center pt-3 pb-5">
    <%= link_to "EDIT YOUR PROFILE", nil, {class: "button-empty-bordered general flex-grow-1"} %>
  </div>

  <!-- manage booking title -->
  <div class="d-flex justify-content-between align-items-start pb-4" style="width: 100%">
    <h3  class="section-title general">manage bookings</h3>
  </div>

  <!-- booking title 1/2 - all requests -->
  <div class="mb-3">
    <h4  class="section-title general" style="font-style: italic;"> 
      all 
      <% if current_user.type_of_user == "artist" %>
        <%= "eventers' " %>
      <% else %>
        <%= "artists' " %>
      <% end %>
      requests
    </h4>
  </div>

  <!-- booking list RECEIVED-->
  <!-- 1. pending received -->
  <div class="d-flex justify-content-between align-items-start pb-2">
    <h5 class="section-title general">>&nbsp;&nbsp; pending</h5>
  </div>

  <div class="card-scroll-container cal-book">
    <div class="align-items-start pb-5" style="width: 100%">
      <% if @pending_received.empty? %>
        <h6 class="section-substitle">You have no pending requests for now.</h6>
      <% else %>  
        <% @pending_received.reverse_each do |booking| %>
            <div class="card-a-row booking">
              <h5 class="date"><%= booking.booking_date %></h5>
              <h5 class="name"><%= booking.sender.name %></h5>
              <div class="booking-icons">
                <!-- message icon -->
                <button type="button" class="button-invisible booking-icons-item far fa-comments fa-lg" style="color: #1D73A5" data-toggle="modal" data-target="#bookingModal-<%= booking.id %>">

                <!-- confirm icon -->
                <%= simple_form_for(booking, defaults: { input_html: { class: 'default_class' } } ) do |f|  %>
                  <%= f.input :status, as: :hidden, input_html: { value: "Confirmed" } %>
                  <button type="submit" class="button-invisible">
                    <i class="booking-icons-item fas fa-check-circle fa-lg" style="color: #D3D3D3"></i>
                  </button>
                <% end %>
                <!-- decline icon -->
                <%= simple_form_for(booking)  do |f|  %>
                  <%= f.input :status, as: :hidden, input_html: { value: "Declined" } %>
                  <button type="submit" class="button-invisible">
                    <i class="booking-icons-item far fa-times-circle fa-lg" style="color: #D3D3D3"></i>
                  </button>
                <% end %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
 

  <!-- 2. confirmed received -->
  <div class="d-flex justify-content-between align-items-start pb-2">
    <p style="color: #1D73A5; font-weight: 900; margin: 0;">>&nbsp;&nbsp; confirmed</p>
  </div>

  <div class="card-scroll-container cal-book">
    <div class="align-items-start pb-5" style="width: 100%">
      <% if @confirmed_received.empty? %>
        <h5 style="font-weight: 700; padding-top: 20px">You have no confirmed requests for now.</h5>
      <% else %>  
        <% @confirmed_received.reverse_each do |booking| %>
          <div class="card-a-row booking">
            <h5 class="date"><%= booking.booking_date %></h5>
            <h5 class="name"><%= booking.sender.name %></h5>
            <div class="booking-icons">
              <!-- message icon -->
              <button type="button" class="button-invisible booking-icons-item far fa-comments fa-lg" style="color: #1D73A5" data-toggle="modal" data-target="#bookingModal-<%= booking.id %>">

              <!-- decline icon -->
              <%= simple_form_for(booking)  do |f|  %>
                <%= f.input :status, as: :hidden, input_html: { value: "Declined" } %>
                <button type="submit" class="button-invisible">
                  <i class="booking-icons-item far fa-times-circle fa-lg" style="color: #D3D3D3"></i>
                </button>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div> 
  </div>

<!-- booking title 2/2 - my requested bookings -->
  <div class="d-flex justify-content-between align-items-start pb-3">
    <h4 style="color: #1D73A5; font-weight: 700;">my booking requests</h4>
  </div>

  <!-- booking list SENT-->
  <!-- 3. pending sent -->
  <div class="d-flex justify-content-between align-items-start pb-2">
    <p style="color: #1D73A5; font-weight: 900;">>&nbsp;&nbsp; pending sent</p>
  </div>
  
  <div class="card-scroll-container cal-book">
    <div class="align-items-start pb-5" style="width: 100%">
      <% if @pending_sent.empty? %>
        <h5 style="font-weight: 700; padding-top: 20px">You have no pending requests for now.</h5>
      <% else %>  
        <% @pending_sent.reverse_each do |booking| %>
          <div class="card-a-row booking">
            <h5 class="date"><%= booking.booking_date %></h5>
            <h5 class="name"><%= booking.sender.name %></h5>
            <div class="booking-icons">
              <!-- message icon -->
              <button type="button" class="button-invisible booking-icons-item far fa-comments fa-lg" style="color: #1D73A5" data-toggle="modal" data-target="#bookingModal-<%= booking.id %>">

              <!-- confirm icon -->
              <%= simple_form_for(booking, defaults: { input_html: { class: 'default_class' } } ) do |f|  %>
                <%= f.input :status, as: :hidden, input_html: { value: "Confirmed" } %>
                <button type="submit" class="button-invisible">
                  <i class="booking-icons-item fas fa-check-circle fa-lg" style="color: #D3D3D3"></i>
                </button>
              <% end %>
              <!-- decline icon -->
              <%= simple_form_for(booking)  do |f|  %>
                <%= f.input :status, as: :hidden, input_html: { value: "Declined" } %>
                <button type="submit" class="button-invisible">
                  <i class="booking-icons-item far fa-times-circle fa-lg" style="color: #D3D3D3"></i>
                </button>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div> 
  </div>

<!-- 4. confirmed sent -->
  <div class="d-flex justify-content-between align-items-start pb-2">
    <p style="color: #1D73A5; font-weight: 900;">>&nbsp;&nbsp; confirmed sent</p>
  </div>
  
  <div class="card-scroll-container cal-book">
    <div class="align-items-start pb-5" style="width: 100%">
      <% if @confirmed_sent.empty? %>
        <h5 style="font-weight: 700; padding-top: 0; margin: 0;">You have no confirmed requests for now.</h5>
      <% else %>  
        <% @confirmed_sent.reverse_each do |booking| %>
          <div class="card-a-row booking">
            <h5 class="date"><%= booking.booking_date %></h5>
            <h5 class="name"><%= booking.sender.name %></h5>
            <div class="booking-icons">
              <!-- message icon -->
              <button type="button" class="button-invisible booking-icons-item far fa-comments fa-lg" style="color: #1D73A5" data-toggle="modal" data-target="#bookingModal-<%= booking.id %>">

              <!-- decline icon -->
              <%= simple_form_for(booking)  do |f|  %>
                <%= f.input :status, as: :hidden, input_html: { value: "Declined" } %>
                <button type="submit" class="button-invisible">
                  <i class="booking-icons-item far fa-times-circle fa-lg" style="color: #D3D3D3"></i>
                </button>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div> 

