<div class="container">
  <!-- back link -->
  <div class="contenant general all-left aligned-centered pb-2">
    <i class="fas fa-angle-left fa-lg pr-2"></i>
    <h5 class="m-0"><%= link_to "back", :back, style: "align-items: center"%></h5>
  </div>
  <div class="d-flex justify-content-between align-items-start" style="width: 100%">
    <!-- welcoming the current user -->
    <div class="flex-grow-1">
      <div class="contenant all-left general bottom-border-general aligned-started">
        <h1>hi, <strong><%= current_user.first_name.capitalize %></strong></h1>
      </div>
      <div class="contenant all-left general pt-1">
        <h4 class="section-substitle" style="padding-top: 2px">this is your personal dashboard</h4>
      </div>
    </div>
    <!-- current user avatar -->
    <div class="contenant all-left aligned-started">
      <img src="<%= current_user.avatar %>" alt="" class='dashboard-avatar'>
    </div>
  </div>
  <!-- edit profile button -->
  <div class="d-flex justify-content-center align-items-center pt-3 pb-5">
    <%= link_to "EDIT YOUR PROFILE", nil, {class: "button-empty-bordered general flex-grow-1"} %>
  </div>
  <!-- manage mixes title -->
  <div class="contenant general all-left aligned-started bottom-border-general pb-1 mb-4" style="width: 100%">
    <h3  class="section-title">manage your mixes</h3>
  </div>

  <!-- MIXES TITLE 1/2 - INCOMING MIXES -->
  <div class="mb-3">
    <h5  class="section-title general">
      INCOMING MIXES REQUESTS FROM
      <% if current_user.type_of_user == "artist" %>
        <%= "EVENTERS" %>
      <% else %>
        <%= "ARTISTS" %>
      <% end %>
    </h5>
  </div>
  <!-- MIXES LIST - INCOMING-->
  <!-- 1. INCOMING - PENDING -->
  <div class="d-flex justify-content-between align-items-start pb-2">
    <h5 class="section-title general">>&nbsp;&nbsp; pending requests</h5>
  </div>
  <div class="card-scroll-container cal-book">
    <div class="align-items-start pb-5" style="width: 100%">
      <% if @pending_received.empty? %>
        <p class="section-substitle">No mixes requests waiting for your confirmation yet.</p>
      <% else %>
        <% @pending_received.reverse_each do |booking| %>
            <div class="card-a-row booking">
              <h5 class="date"><%= booking.booking_date %></h5>
              <%= link_to "/users/#{booking.sender_id}" do %>
                <h5 class="name"><%= booking.sender.name %></h5>
              <% end %>
              <div class="booking-icons">
                <!-- message icon trigger modal -->
                <button type="button" class="button-invisible booking-icons-item far fa-comments fa-lg" style="color: #1D73A5" data-toggle="modal" data-target="#pendingIncomingModal<%= booking.id%>">
                <!-- confirm icon -->
                <%= simple_form_for(booking, defaults: { input_html: { class: 'default_class' } } ) do |f|  %>
                  <%= f.input :status, as: :hidden, input_html: { value: "Confirmed" } %>
                  <button type="submit" class="button-invisible">
                    <i class="booking-icons-item fas fa-check-circle fa-lg" style="color: #D3D3D3"></i>
                  </button>
                <% end %>
                <!-- decline icon -->
                <%= simple_form_for(booking)  do |f|  %>
                  <%= f.input :status, as: :hidden, input_html: { value: "Declined" } %>
                  <button type="submit" class="button-invisible">
                    <i class="booking-icons-item far fa-times-circle fa-lg" style="color: #D3D3D3"></i>
                  </button>
                <% end %>
              </div>
            </div>
            <!-- Modal Pop-Up Message -->
            <div class="modal fade" id="pendingIncomingModal<%= booking.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p class="section-light-text" id="exampleModalLongTitle">From:&nbsp;</p>
                    <p class="section-title"><%= booking.sender.first_name.capitalize %></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="section-paragraph general p-3">
                    <%= booking.message %>
                  </div>
                  <div class="modal-footer">
                    <p class="section-light-text" id="exampleModalLongTitle">mix requested for <strong><%= booking.booking_date %></strong> at <strong><%= booking.booking_time %></strong></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>

  <!-- 2. INCOMING - CONFIRMED -->
  <div class="d-flex justify-content-between align-items-start pb-2">
    <h5 class="section-title general">>&nbsp;&nbsp; confirmed requests</h5>
  </div>

  <div class="card-scroll-container cal-book">
    <div class="align-items-start pb-5" style="width: 100%">
      <% if @confirmed_received.empty? %>
         <p class="section-substitle">You haven't confirmed any mix request.</p>
      <% else %>
        <% @confirmed_received.reverse_each do |booking| %>
          <div class="card-a-row booking">
            <h5 class="date"><%= booking.booking_date %></h5>
            <%= link_to "/users/#{booking.sender_id}" do %>
              <h5 class="name"><%= booking.sender.name %></h5>
            <% end %>
            <div class="booking-icons">
              <!-- message icon -->
              <button type="button" class="button-invisible booking-icons-item far fa-comments fa-lg" style="color: #1D73A5" data-toggle="modal" data-target="#confirmedIncomingModal<%= booking.id%>">
              <!-- decline icon -->
              <%= simple_form_for(booking)  do |f|  %>
                <%= f.input :status, as: :hidden, input_html: { value: "Declined" } %>
                <button type="submit" class="button-invisible">
                  <i class="booking-icons-item fas fa-trash fa-lg" style="color: #D3D3D3"></i>
                </button>
              <% end %>
            </div>
          </div>
          <!-- Modal Pop-Up Message-->
            <div class="modal fade" id="confirmedIncomingModal<%= booking.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p class="section-light-text" id="exampleModalLongTitle">From:&nbsp;</p>
                    <p class="section-title"><%= booking.sender.first_name.capitalize %></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="section-paragraph general p-3">
                    <%= booking.message %>
                  </div>
                  <div class="modal-footer">
                    <p class="section-light-text" id="exampleModalLongTitle">mix performance planned on <strong><%= booking.booking_date %></strong> at <strong><%= booking.booking_time %></strong></p>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>

<!-- MIXES TITLE 2/2 - OUTGOING MIXES -->
  <div class="d-flex justify-content-between align-items-start py-3">
    <h5 class="section-title general">YOUR OUTGOING MIXES</h5>
  </div>
  <!-- MIXES LIST - OUTGOING-->
  <!-- 3. OUTGOING - PENDING -->
  <div class="d-flex justify-content-between align-items-start pb-2">
    <h5 class="section-title general">>&nbsp;&nbsp; your pending requests</h5>
  </div>

  <div class="card-scroll-container cal-book">
    <div class="align-items-start pb-5" style="width: 100%">
      <% if @pending_sent.empty? %>
        <p class="section-substitle">No mix request awaiting a confirmation.</p>
      <% else %>
        <% @pending_sent.reverse_each do |booking| %>
          <div class="card-a-row booking">
            <h5 class="date"><%= booking.booking_date %></h5>
            <%= link_to "/users/#{booking.receiver_id}" do %>
              <h5 class="name"><%= booking.receiver.name %></h5>
            <% end %>
            <div class="booking-icons">
              <!-- message icon -->
              <button type="button" class="button-invisible booking-icons-item far fa-comments fa-lg" style="color: #1D73A5" data-toggle="modal" data-target="#pendindOutgoingModal<%= booking.id%>">
              <!-- decline icon -->
              <%= simple_form_for(booking)  do |f|  %>
                <%= f.input :status, as: :hidden, input_html: { value: "Declined" } %>
                <button type="submit" class="button-invisible">
                  <i class="booking-icons-item fas fa-trash fa-lg" style="color: #D3D3D3"></i>
                </button>
              <% end %>
            </div>
          </div>
          <!-- Modal Pop-Up Message-->
            <div class="modal fade" id="pendindOutgoingModal<%= booking.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p class="section-light-text" id="exampleModalLongTitle">To:&nbsp;</p>
                    <p class="section-title"><%= booking.receiver.first_name.capitalize %></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="section-paragraph general p-3">
                    <%= booking.message %>
                  </div>
                  <div class="modal-footer">
                    <p class="section-light-text" id="exampleModalLongTitle">mix requested for <strong><%= booking.booking_date %></strong> at <strong><%= booking.booking_time %></strong></p>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
<!-- 4. OUTGOING - CONFIRMED -->
  <div class="d-flex justify-content-between align-items-start pb-2">
    <h5 class="section-title general">>&nbsp;&nbsp; your confirmed requests</h5>
  </div>

  <div class="card-scroll-container cal-book">
    <div class="align-items-start pb-5" style="width: 100%">
      <% if @confirmed_sent.empty? %>
        <p class="section-substitle">You have no confirmation for a mix request you made.</p>
      <% else %>
        <% @confirmed_sent.reverse_each do |booking| %>
          <div class="card-a-row booking">
            <h5 class="date"><%= booking.booking_date %></h5>
            <%= link_to "/users/#{booking.receiver_id}" do %>
              <h5 class="name"><%= booking.receiver.name %></h5>
            <% end %>
            <div class="booking-icons">
              <!-- message icon -->
              <button type="button" class="button-invisible booking-icons-item far fa-comments fa-lg" style="color: #1D73A5" data-toggle="modal" data-target="#confirmedOutgoingModal<%= booking.id%>">              <!-- decline icon -->
              <%= simple_form_for(booking)  do |f|  %>
                <%= f.input :status, as: :hidden, input_html: { value: "Declined" } %>
                <button type="submit" class="button-invisible">
                  <i class="booking-icons-item fas fa-trash fa-lg" style="color: #D3D3D3"></i>
                </button>
              <% end %>
            </div>
          </div>
          <!-- Modal Pop-Up Message-->
            <div class="modal fade" id="confirmedOutgoingModal<%= booking.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p class="section-light-text" id="exampleModalLongTitle">To:&nbsp;</p>
                    <p class="section-title"><%= booking.receiver.first_name.capitalize %></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="section-paragraph general p-3">
                    <%= booking.message %>
                  </div>
                  <div class="modal-footer">
                    <p class="section-light-text" id="exampleModalLongTitle">mix performance planned on <strong><%= booking.booking_date %></strong> at <strong><%= booking.booking_time %></strong></p>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
