<h1>Mixmyband</h1>

<ul>
  <p><%= link_to "I Am an Artist", users_path%></p>
  <p><%= link_to "I Am an Eventer", users_path %></p>
  <p><%= link_to "I Am an Passionate", users_path %></p>
</ul>


<% if user_signed_in? %>
<%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
<% else %>
<%= link_to('Login', new_user_session_path) %>
<% end %>
