<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>For every music lover - mixmyBand [discover.share.love]</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

  </head>
  <body>
    <div id="container">
      <div id="<%= (controller_name == "pages" && action_name == "home") ? 'body-home' : 'body' %>">
        <!-- the if statement means that the navbar won't display if user is on the landing page -->
        <% if !(controller_name == "pages" && action_name == "home") %>
          <%= render "shared/navbar" %>
        <% end %>
        <%= yield %>
      </div>
      <div id="footer">
        <%= render "shared/footer" %>
      </div>
    </div>
    <%#= render 'shared/flashes' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
